@import url('../../../styles/spacefold.css');


pre.code      
{ 
	font-family: Consolas, "Lucida Console", monospace;
	font-size: 0.8em;
    margin-left: 16pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
    padding: 4px;
    background: #F7F7F2;
}

pre.xml
{
	font-family: Consolas, "Lucida Console", monospace;
	font-size: 0.8em;
	border-style: none; 
	border-width: 1px; 
    padding-left: 10px; 
    padding-right: 10px; 
    padding: 4px; 
    background-color: #EAEFF2; 
    margin-left:10pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
}

.sticky  
{  
	border-style: none; 
	border-width: 1px; 
	margin-left:25px;
	margin-right:25px;
    padding-left: 5px; 
    padding-right: 5px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    background-color: #FFFFDD; 
/*
    margin-left:10;
    margin-right:10;
    */
}

div.article_tip 
{
	margin: 1em 1em 1em 1em;
	border-top:    1px solid #AAA;
	border-left:   1px solid #AAA;
	border-right:  2px solid #333;
	border-bottom: 2px solid #333;
	padding: 4px 4px 4px 6px;
	background: #FFD;
}

span.filename
{
	font-family: Consolas, "Lucida Console", monospace;
}
span.codecomment 
{ 
	color: #008000; 
	font-style: italic 
}
