#main
{
  border-left: 5px ridge lightgrey;
  border-right: 5px ridge lightgrey;
  border-bottom: 5px ridge lightgrey;
  background-color: white;
  border-collapse: separate; 
  text-align: center;
  max-width: 1200px;
  width: 90%;
}

#banniere
{
  background: transparent url(/images/fondentete.jpg) no-repeat right;
  height: 122px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

#liensbanniere td
{
  color: black;
  font: normal 10pt Arial;
  float: left;
  height: 24px;
  border-left: 1px solid rgb(230,230,230);
  border-right: 1px solid #B0B0B0;
  padding-top: 1px;
  padding-right: 5px;
  padding-left: 5px;
  cursor: pointer;
}

#menu
{
  background: #c6cacb url(/images/BgMenuInterior.jpg) repeat-x top;
  border-bottom: 1px solid white;
  height: 24px;
  padding: 0;
  text-align: left;
  white-space: nowrap;
}

#menu a
{
  color: black;
  border-left: 1px solid #c6cacb;
  border-right: 1px solid #dfe5e5;
  display: block;
  padding: 5px;
}

#menu a:hover
{
  background: #c6cacb url(/images/BgMenuInterior2.jpg) repeat-x top;
}

#titre
{
  height: 54px;
  background: transparent url(/images/BgTitre.gif) repeat-x left center;
  border-top: 1px solid black;
  border-bottom: 1px solid #c9792a;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
}

#titre h1
{
  color: #c9792a;
  font: bolder 18pt Arial;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
}

#skinMessage
{
  background: yellow url(/images/erreur.gif) no-repeat 0px 10px;
  border-bottom: 1px solid red;
  color: red;
  font: bold 16pt Arial;
  height: 70px;
  padding-left: 80px;
  text-align: left;
  width: 100%;
}

#page
{
  background: transparent url(/images/fond_page.jpg) repeat-y right;
  padding: 10px;
}

#piedPage
{
  background-image: url(/images/BgBouton.gif);
  border-top: 1px solid black;
  color: white;
  font: normal 9pt Arial;
  height: 24px;
  vertical-align: middle;
}

a
{
  color: #c9792a;
  cursor: pointer;
  text-decoration: none;
}

a:hover
{
  color: red;
}

a.nav
{
  background: transparent url(/images/nav_next.gif) no-repeat center left;
  padding-left: 20px;
}

a.titre
{
  color: black;
}

a.titre:hover
{
  color: black;
  text-decoration: underline;
}

body, table
{
  font: normal 10pt Arial;
}

body
{
  margin: 0px;
  scrollbar-face-color: #ffffff;
  scrollbar-highlight-color: #808285;
  scrollbar-shadow-color: #808285;
  scrollbar-3dlight-color: #ffffff;
  scrollbar-arrow-color: #c9792a;
  scrollbar-track-color: #e2e2e2;
  scrollbar-darkshadow-color: #ffffff;
}

body.atoutfox
{
  background: #ebebeb url(/images/backgris.jpg) no-repeat center center;
}

h1
{
  text-align: center;
  color: #828388;
  font: bold 16pt Arial;
  margin-bottom: 15px;
  text-align: center;
}

h2
{
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: sandybrown;
}

hr
{
  color: #c9792a;
  height: 1px;
}

ul
{
  list-style-type: square;
  text-align: left;
}

img
{
  border: 0;
  vertical-align: middle;
}

img.bouton
{
  cursor: pointer;
}

input
{
  vertical-align: middle;
}

input.texte
{
  border: 1px solid silver;
  font: normal 8pt arial;
}

input.disabled
{
  font: normal 8pt arial;
  background-color: #ebebeb;
  border: 0px;
}

textarea
{
  font: normal 8pt Arial;
  border: 1px solid silver;
}

textarea.disabled
{
  background-color: #ebebeb;
}

textarea.codesource
{
  font: normal 8pt Courier New;
}

select
{
  font: normal 8pt Arial;
  border: 1px solid silver;
}

select.disabled
{
  background-color: #ebebeb;
}

li.lien
{
  list-style: url(/images/nav_next.gif) inside;
}

li.lien a
{
  color: black;
  padding-left: 10px;
}

li.lien a:hover
{
  color: black;
  text-decoration: underline;
  background-color: transparent;
}

p
{
  margin: 0;
}

.cadre_nav2
{
  border: 1px solid silver;
  background-color: #FFFAD6;
  padding: 10px;
  text-align: left;
}

table
{
  empty-cells: show;
  border-collapse: collapse;
}

table.tableauAvecBordure 
{
  border:1px solid silver;
  border-spacing:0;
}

table.tableauAvecBordure td
{
  padding:5px;
  border:1px solid silver;
}

/* Table standard pour lister */
table.table_liste
{
  border: 1px solid #c9792a;
  border-collapse: collapse;
  font-size: 8pt;
  text-align: left;
}

table.table_liste th
{
  background-color: #fffad6;
  border: 1px solid #c9792a;
  color: black;
  font-size: 10pt;
  font-weight: normal;
  padding: 3px;
  text-align: center;
}

table.table_liste td
{
  padding: 3px;
  border-right: 1px solid silver;
}

table.table_liste tr.bis
{
  background-color: #f3f3f3;
}

table.table_liste tr.over
{
  background-color: #EAEAEA;
  cursor: pointer;
}

table.table_liste tr.precedentSuivant td, table.table_liste tfoot td
{
  font-size: 10pt;
  border: 1px solid #c9792a;
  background-color: #fffad6;
  padding: 3px;
  color: black;
  font-weight: normal;
  text-align: center;
}

table.table_liste tr.precedentSuivant a
{
  font-size: 8pt;
}

table.table_liste tr.precedentSuivant u
{
  font-size: 8pt;
}

/* Formulaire de saisie */

table.formulaire
{
  font-size: 10pt;
}

table.formulaire .titre
{
  padding: 2px;
  background-color: #c9792a;
  color: white;
  font-weight: bold;
  text-align: center;
}

table.formulaire th
{
  text-align: right;
  padding: 4px;
  font-weight: bold;
  color: #c9792a;
  border-right: 1px solid #c9792a;
  vertical-align: top;
}

table.formulaire td
{
  padding: 4px;
  text-align: left;
}

table.formulaire td.boutons
{
  color: #c9792a;
  border-left: 1px solid #c9792a;
  border-bottom: 1px solid #c9792a;
  text-align: right;
  vertical-align: middle;
}

/* Présentation style NEWS */

table.news
{
  width: 95%;
  text-align: left;
  border-width: 0px;
}

table.news tr
{
  vertical-align: top;
}

table.news th
{
  font: bold 12pt Arial;
  color: black;
  padding: 0px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: 3px dotted #c9792a;
}

table.news td
{
  text-align: center;
  padding: 5px;
}

.chapitre
{
  color: #c9792a;
  font: bolder 18pt Arial;
  text-transform: uppercase;
}

.important
{
  color: darkorange;
  font: normal 14pt Arial;
}

.aide
{
  background: #ffffa8 url(/images/livre.gif) no-repeat 5px 5px;
  border: 1px solid #cdc267;
  color: black;
  font-size: 8pt;
  font-weight: normal;
  margin: 10px;
  padding: 6px;
  padding-left: 30px;
  text-align: justify;
}

.selected
{
  font-weight: bold;
}

code
{
  background-color: #efefef;
  border: 1px solid silver;
  font: normal 8pt consolas, "courier new", system;
  display: block;
  margin: 10px 0 10px 0;
  padding: 5px;
  text-align: left;
}

/* Coloration syntaxique FOXPRO */

code.vfp
{
  background-color: #fbffc2;
  border: 1px solid #fbe892;
}

code.vfp b
{
  color: blue;
  font-weight: normal;
}

code.vfp i
{
  color: green;
  font-style: normal;
}

code.vfp u
{
  color: red;
  text-decoration: none;
}

/* Système d'onglets */

div.onglets
{
  text-align: left;
  padding: 6px;
  border-bottom: 1px solid black;
  width: 10px;
}

.onglets a
{
  padding: 6px;
  background-color: #ebebeb;
}

.onglets a:hover
{
  background-color: lightgrey;
}




/* Pour les articles */
table.articles
{
  text-align: left;
}

table.articles th
{
  border: 1px solid silver;
  background-color: #FFFAD6;
  padding: 4px;
  color: black;
  font-size: 10pt;
}

p.article, td.article
{
  border: 1px solid #c9792a;
  background: #fffad6 url(/images/backbox.gif) repeat-x bottom left;
  padding: 4px;
  color: black;
  font-size: 10pt;
  margin: 0px;
  width: 400px;
  text-align: left;
}

/* Menu de navigation */

.menu
{
  text-align: left;
  font-size: 8pt;
  border-left: 10px solid #ddd;
}

.menu, .menu ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li
{
  display: inline;
  padding: 0;
  margin: 0;
}

.menu li img
{
  margin-right: 5px;
}

.menu li a
{
  width: 160px;
  display: block;
  padding: 6px 10px;
  text-decoration: none;
  background-color: #EDF2F2;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #fff;
  border-right: 1px solid #ddd;
}


.menu li a:hover
{
  background-color: #E0E9E9;
}


/* A utilisé après les floats */
hr.clear
{
  clear: both;
  width: 0;
  height: 0;
  border: 0;
}

div.commentaire
{
  background-color: #f4f4f4;
  border: 1px solid d2d2d2;
  padding: 5px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 8pt;
  width: 100%;
}

.dordref
{
  position: absolute;
  width: 515px;
  height: 470px;
  z-index: 1;
  left: -600px;
}

.bandeau_gauche
{
  background-color: rgb(250,250,250);
  text-align: left;
  border-right: 2px dotted silver;
  padding-right: 10px;
  margin-right: 10px;
  white-space: nowrap;
}

p.construction
{
  color: silver;
  font-size: 12pt;
  font-weight: bold;
  border: 2px solid silver;
}


img.drapeau
{
  vertical-align: middle;
}

ul.toolbar {
  background: white url(/images/toolbar.gif) repeat-x top;
  border: 1px solid #7c9bbe;
  display: block;
  height: 21px;
  list-style: none;
  margin: 5px 0px 5px 0px;
  padding: 3px;
  -moz-border-radius: 5px;
}

ul.toolbar li {
  border-right: 1px solid #ccd8e5;
  float: left;
  height: 100%;
  margin: 0px;
  padding: 2px 5px 0 5px;
}

ul.toolbar li  a {
  color: black;
  text-decoration: none;
  font: normal 9pt Arial;
}

ul.toolbar li  a:hover {
  text-decoration: underline;
}